#!/usr/bin/env python
PACKAGE = "cola2_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()


gen.add("los_cte_min_surge_velocity",    double_t,    0, "Min. surge velocity when turning", 0.2,  0.05, 1.0)
gen.add("los_cte_max_surge_velocity",    double_t,    0, "Max. surge velocity in a straight line", 0.5,  0.05, 2.0)
gen.add("los_cte_min_velocity_ratio", double_t, 0, "Velocity ration",    0.1, 0.01,   1.0)
gen.add("los_cte_delta",    double_t,    0, "Delta. (Distance to intersect LOS)",  5.0, 1.0, 20.0)
gen.add("los_cte_distance_to_max_velocity",    double_t,    0, "Distance to a waypoint to reach max surge velocity",  5.0, 1.0, 20.0)

gen.add("goto_max_angle_error",    double_t,    0, "Max angle error to move forward",  0.3, 0.1, 3.14)
gen.add("goto_max_surge",    double_t,    0, "Max surge velocity",  0.05, 0.5, 2.0)
gen.add("goto_surge_proportional_gain",    double_t,    0, "KP constant for surge controller",  0.25, 0.1, 2.0)

gen.add("dubins_yaw_kp",    double_t,    0, "KP constant for dubins controller",  0.09, 0.0, 1.0)
gen.add("dubins_yaw_ki",    double_t,    0, "KI constant for dubins controller",  0.003, 0.0, 1.0)
gen.add("dubins_lookahead_sec",    double_t,    0, "Look a head seconds",  4.0, 0.5, 20.0)
gen.add("dubins_acceptance_sec",    double_t,    0, "Acceptamnce tolerance in seconds",  3.0, 0.5, 20.0)

exit(gen.generate(PACKAGE, "cola2_control", "Pilot"))
